/* src/styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('https://img.pikbest.com/backgrounds/20190924/technology-background-with-blue-gradient-background-v_1559315jpg!w700wp') no-repeat center center fixed;
    background-size: cover;
  }
  /* Add styles for the dark mode toggle button in the AppBar */
.dark-mode .MuiAppBar-root {
  background-color: #150808;
}

.dark-mode .MuiToolbar-root {
  color: #fffefe;
}

.dark-mode .MuiButtonBase-root {
  color: #f6f6f7ea;
}

.dark-mode .MuiButton-outlined {
  border-color: #720303;
  color: #160871d1;
}

.dark-mode .MuiIconButton-root {
  color: #710b7c;
}
.app-bar {
  background-color: #2196f3; /* Set your desired background color */
}

/* Style for the AppBar title */
.app-bar-title {
  flex-grow: 1;
  margin-right: 20px;
}

/* Style for the IconButton (e.g., Dark Mode toggle) */
.app-bar-icon {
  color: #021d0a; /* Set your desired icon color */
}

.nav-link {
  margin: 50px; 
  text-decoration-line: none;
}

